[data-component="search-bar"]
  margin-right 15px
  &>*
    display inline-block
    color $colorLightGray
    vertical-align top
  input
    border-radius .5rem 0 0 .5rem
    background-color #F3F3F3
    font-size .72rem
    padding-left 10px
    height 30px
    display none
  button
    background-color #F3F3F3
    border 0
    //border-radius 0 .5rem .5rem 0
    border-radius 50%
    font-size 1.25rem
    height 30px
    width 30px
