[data-component="close-chat"]
	display none
	background-color rgba(0,0,0,.5)
	position fixed
	height 100%
	width 100%
	z-index 4
	.content
		position absolute
		left 50%
		margin-left -150px
		top 50%
		margin-top -75px
		width 300px
		height 150px
		background-color white
		.close
			cursor pointer
			width 25px
			height 25px
			position absolute
			top 0
			right 0
			z-index 6
			&>p
				line-height 25px
				text-align center			
		.wrap
			padding 30px
			display table
			text-align center
			margin 0 auto
			&>p
				font-size 1.1rem
				text-align center
				margin-bottom 10px
				padding-bottom 15px
				border-bottom 1px solid #E2E2E2
			button
				font-size 1.1rem
				padding-top 5px
				padding-bottom 5px
				padding-left 10px
				padding-right 10px
				display table-cell
				margin 5 px
				&.exit
					background-color #1984F3
					color white
				&.end
					background-color #E2E2E2
					color #5B616C















