div(data-component="user-menu")
  .triangle
  form
    ul
      li
        span Disponible
        input(type="radio",name="status",checked,value="1")
      li
        span No disponible
        input(type="radio",name="status",value="0")
      li
        a(href="#")
          span Cerrar Sesión
          span
