[data-component="user-menu"]
  display none
  position relative
  background-color #5B6F7C
  padding 15px
  position absolute
  top 120px
  width 250px
  right 15px
  z-index 2
  color white
  font-size .8rem
  border-radius .2rem
  .triangle
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-bottom 10px solid #5B6F7C
    width 0
    height 0
    position absolute
    top -8px
    right 10px
  &>p
    font-size .8rem
    padding-bottom 10px
    border-bottom 1px solid white
  input
    float right
  li
    &:last-child
      margin-top 30px
      padding-top 15px
      border-top 1px solid lightgray
      a
        display block
      span:last-child
        width 20px
        height 20px
        float right
        background-image url(../img/logout.png)
        background-size 20px 20px
        background-position 0 0
