doctype html
html(class="no-js",lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="description",content="")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(href="/css/main.css" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,100',rel='stylesheet',type='text/css')
    // if you need it
    //script(src="/js/modernizr.js")
    title Diloo App
  body
    block content
