extends ./layout/layout.jade
block content
	main#login
		form(name="login",action="/operator/login",method="POST")
			img(src="img/logo_dilo.png")
			input(type="email",name="email_login",placeholder="Email",required)
			input(type="password",name="passwd",placeholder="Contraseña",required)
			fieldset
				select(name="type")
					option(value="0",selected) Operator
					option(value="1") Supervisor
				button(type="submit") Ingresar
			p 
				//a(href="#") Olvidó su contraseña ?


