doctype html
html
  head
    title Diloo
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(type="text/css" href="/css/init.css",rel="stylesheet")
    link(rel="icon",type="image/png",href="/img/minilogo_diloo.png")
  body
    .wrapper
      header
        h1
          img(width='120', src='http://dilooapp.com/img/logo_dilo.png')
        nav
          ul
            li
              | Nosotros
            li.active
              | Productos
            li
              | Contacto
      section
        .text
          div
            img(src='/img/texto.png')
        .devices
          .d0
            .d1
              img(src='/img/usuarios.png')
            .d2
              img(src='/img/empresas.png')