extends layout/layout2
block content
	main#operator-home(ng-controller="agentController")
		.operator
			header
				img(src="/img/logo_dilo.png")
				img(src="/img/hamburguer.png")
			.user-menu
				.user-img
					img(src="../img/user_pic.jpg")
				.user-status
					p Diego
					.select
						.selected Conectado
						.wrapper
							.option.conectado Conectado
							.option.ausente Ausente
							.option.invisible Invisible
							p.option.salir Salir
			nav
				ul
					li
						a(href="/operator/home")
							span.icon-home
							span Inicio
					li
						a(href="/operator/history")
							span.icon-clock
							span Historial
					li
						a(href="#")
							span.icon-stats-bars
							span Estadísticas
					li.line
						a
							span
								img(src="/img/linea.png")
				ul
					li.title
						p ADMINISTRACIÓN
					li
						a.active(href="/operator/agent")
							span.icon-user
							span Agentes
					li
						a(href="#")
							span.icon-sitemap
							span Áreas
					li
						a(href="#")
							span.icon-indent-increase
							span Métodos abreviados
					li.line
						a
							span
								img(src="/img/linea.png")
				ul
					li.title
						p CONFIGURACIÓN
					li
						a(href="#")
							span.icon-office
							span Perfil empresa
					li
						a(href="#")
							span.icon-credit-card2
							span Cuenta		
		.agents
			header
				h1 {{title}}
			form.data(name="create_agent",ng-show="agent.show.create ",ng-submit="(agent.create(agent.data))")
				.status
					p Estado de agente
					.buttons
						button.btn(type="button",ng-class="{'success': agent.data.status===true }",ng-click="agent.data.status=true") Activado
						button.btn(type="button",ng-class="{'success': agent.data.status===false}",ng-click="agent.data.status=false") Desactivado
						p 3 de 3 agentes usando. 
							a(href="#") Actualize su plan 
							| para poder agregar mas agentes
				.input
					label Nombre
					input(type="text",name="firstName",ng-model="agent.data.firstName",required)
				.input 
					label Apellido
					input(type="text",name="lastName",ng-model="agent.data.lastName",required)
				.input
					label Nombre mostrado
					input(type="text",name="displayName",ng-model="agent.data.displayName",required)
				.input 
					label Correo electrónico 
					input(type="email",name="email",ng-model="agent.data.email",required)
				p.note La información sobre el inicio de sesión y la contraseña se enviarán 
					br
					| a esta dirección.
				.input
					button.btn.success(type="submit") Crear agente
					button.btn.alert(type="button" ng-click="agent.show.windowList()") Cancelar
			form.data(name="update_agent",ng-show="agent.show.update ",ng-submit="(agent.update(agent.data))")
				.status
					p Estado de agente
					.buttons
						button.btn(type="button",ng-class="{'success': agent.data.status===true }",ng-click="agent.data.status=true") Activado
						button.btn(type="button",ng-class="{'success': agent.data.status===false}",ng-click="agent.data.status=false") Desactivado
						p 3 de 3 agentes usando. 
							a(href="#") Actualize su plan 
							| para poder agregar mas agentes						
				.input
					label Nombre
					input(type="text",name="firstName",ng-model="agent.data.firstName",required)
				.input 
					label Apellido
					input(type="text",name="lastName",ng-model="agent.data.lastName",required)
				.input
					label Nombre mostrado
					input(type="text",name="displayName",ng-model="agent.data.displayName",required)
				.input 
					label Correo electrónico 
					input(type="email",name="email",placeholder="Email",ng-model="agent.data.email",required)
				p.note La información sobre el inicio de sesión y la contraseña se enviarán 
					br
					| a esta dirección.
				.input
					.reset
						button.btn(type="button",ng-click="reset_passwd(agent.data)") Reset password
					button.btn.success(type="submit") Guardar cambios
					button.btn.alert(type="button" ng-click="agent.show.windowList()") Cancelar					
			.list(ng-show="agent.show.list")
				form(name="findOperator",novalidate,ng-submit="getOperator(displayName)" )
					input(type="text",name="findByName",required,placeholder="Nombre del agente",ng-model="displayName")
				button.btn.success(type="button",ng-click="agent.show.windowCreate()") Agregar agente
				header
					p.c1 Nombre Mostrado
					p.c2 Nombre
					p.c3 Apellido
					p.c4 Correo Electrónico
					p.c5 Status
				table
					tr(ng-repeat="agentToken in agent.all",ng-click="agent.show.windowEdit(agentToken)" )
						td.c1 {{agentToken.displayName}}
						td.c2 {{agentToken.firstName  }}
						td.c3 {{agentToken.lastName}}
						td.c4 {{agentToken.email}}
						td.c5 {{ (agentToken.status).toString() }}