extends layout/layout2
block content
	main#operator-home
		.operator
			header
				img(src="/img/logo_dilo.png")
				img(src="/img/hamburguer.png")
			.user-menu
				.user-img
					img(src="../img/user_pic.jpg")
				.user-status
					p Diego
					.select
						.selected Conectado
						.wrapper
							.option.conectado Conectado
							.option.ausente Ausente
							.option.invisible Invisible
							p.option.salir Salir
			nav
				ul
					li
						a(href="/operator/home")
							span.icon-home
							span Inicio
					li
						a.active(href="/operator/history")
							span.icon-clock
							span Historial
					li
						a(href="#")
							span.icon-stats-bars
							span Estadísticas
					li.line
						a
							span
								img(src="/img/linea.png")
				ul
					li.title
						p ADMINISTRACIÓN
					li
						a(href="/operator/agent")
							span.icon-user
							span Agentes
					li
						a(href="#")
							span.icon-sitemap
							span Áreas
					li
						a(href="#")
							span.icon-indent-increase
							span Métodos abreviados
					li.line
						a
							span
								img(src="/img/linea.png")
				ul
					li.title
						p CONFIGURACIÓN
					li
						a(href="#")
							span.icon-office
							span Perfil empresa
					li
						a(href="#")
							span.icon-credit-card2
							span Cuenta
		.history(ng-controller="historyController")
			header
				h1
					.title
						span.icon-clock
						span Historial de chats
					aside
						p Total de chats: {{tickets.total}}
			.info
				form(ng-submit="findByUser(userName)")
					input(type="text",name="search",placeholder="Buscar conversación",ng-model="userName")
					button(type="submit") Buscar
				.pagination
					p {{tickets.total}} resultados para, Página {{jump  +  1 }} de {{ tickets.total <= 0 ? 1 : tickets.total   }} 
					.buttons
						button.icon-triangle-left(type="button",action="prev",ng-click="paginationPrev()",ng-class="{'active': jump > 0 }")
						button.icon-triangle-right(type="button",action="next",ng-click="paginationNext()",ng-class="{'active': tickets.total / 25  > 1 }")
			.content
				.table(ng-class="{'mid':ticketStatus == true,'full':ticketStatus==false}")
					header
						p.c1 Nombre Cliente
						p.c2 Agente
						//p.c3 calificación
						//p.c4 tiempo
						p.c5 mensajes
					table
						tr(ng-repeat="ticket in tickets.data",ng-click="getMessages(ticket)")
							td.c1
								p {{ticket.user}}
							td.c2
								p {{ticket.operator}}
							//td.c3
								p 6 estrellas
							//td.c4
								p {{ticket.tiempo}}
							td.c5
								p {{ticket.message}}
				.ticketInfo(ng-class="{'mid visible':ticketStatus == true,'hide':ticketStatus==false}")
					header
						.buttons
							button.active(type="button",ng-click="showMessages()") Transcripción
							button(type="button",ng-click="showUser()") Informacion de Usuario
						aside
							button(type="button",ng-click="exportToExcel('exportable')") Exportar Transcripción
							button.circle.icon-close(type="button",ng-click="closeOpenTicket()")
					section
						.messages#exportable(ng-show="messages.show")
							table
								tr.item(ng-repeat="message in messages.data")
									td
										p.author(ng-class="{'green':(message.type=='sender' || message.type=='SENDER')}") {{message.author}}
										p.time {{message.createdAt | date : 'h:m a'}}
										p.body {{message.body}}
						.user-info(ng-show="user.show")
							p {{user.data.nombres}}
