[data-component="notification"]
  padding-left 10px
  padding-right 10px
  &>*
    display inline-block
    vertical-align top
  span
    font-size 1.5rem
    line-height 20px
    //font-weight bold
  div
    width 20px
    height 20px
    border-radius 50%
    background-color $colorBlue
    line-height 0
    margin-left 5px
    p
      color white
      line-height 20px
      text-align center
      font-size .8rem
