extends ./layout/layout.jade
block content
  body
    include ../components/close-chat/index.jade
    header
      div
        img(src="/img/diloo_logo.png",alt="brand_logo",width="75")
      .status
        //include components/search-bar/index.jade
        //- var params = { 'notification-type':'notification','value':3}
        //include ../components/notification/index.jade
        //- var params = { 'notification-type':'messages','value':6}
        //include ../components/notification/index.jade
        .h-card
          p.p-name Manuel Rojas
          .u-photo
            img(src="img/messi.jpg",alt="user_image")
            .s
      include components/user-menu/index.jade
    main
      section(data-role="container-im")
        - var params ={ title:'pendientes',counter:0}
        include ../components/title/index.jade
        ul
          //include ../components/incoming-message/index.jade

      section(data-role="container-chat")
        - var params ={ title:'Abiertos',counter:0}
        include components/title/index.jade
        .chat-windows
          //include ../components/chat-window/index.jade
         
    .powered
      p Powered By Diloo

  script(src="/js/vendor/sails.io.js");
  script(src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")    
  script(src="/js/vendor/jquery.js")    
  script(src="/js/lala.js")
