extends layout/layout.jade
block content
	#login
		header
			img(src="/img/diloo_logo.png",alt="diloo logo")
		main
			form(method="GET",action="/user/login")
				p Iniciar Sesión
				fieldset
					.input
						span(data-icon="user")
						input(type="text",name="email_login",placeholder="Usuario")
					.input
						span(data-icon="passwd")
						input(type="password",name="passwd",placeholder="Contraseña")
					button(type="submit") Iniciar sesión
	script(src="/js/vendor/jquery.js")
	script(src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")
	script(src="/js/operator.main.js")