@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?at4tb5');
	src:url('fonts/icomoon.eot?#iefixat4tb5') format('embedded-opentype'),
		url('fonts/icomoon.woff?at4tb5') format('woff'),
		url('fonts/icomoon.ttf?at4tb5') format('truetype'),
		url('fonts/icomoon.svg?at4tb5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-icon="send-message"]:before {
	content: "\e604";
}
[data-icon="phone"]:before {
	content: "\f095";
}
[data-icon="search"]:before {
	content: "\e600";
}
[data-icon="messages"]:before {
	content: "\e601";
}
[data-icon="minimize"]:before {
	content: "\e602";
}
[data-icon="notification"]:before{
	content: "\e603";
}
[data-icon="maximize"]:before{
	content: "\e605";
}
