/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font-family:sans-serif;line-height:1.5em;text-rendering:optimizeLegibility;vertical-align:top}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:75%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;text-decoration:inherit;vertical-align:inherit;border-style:solid;border-width:0}
*{color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;line-height:inherit;margin:0;padding:0}
button,input,select,textarea{background:0 0}
code,kbd,pre,samp{font-family:monospace,monospace}
input{min-height:1.5em}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}

li{list-style-type:none}*{font-family:'Roboto',sans-serif;position:relative;word-wrap:break-word}button{border-radius:.4rem;border:0;padding:.16rem .11rem;font-size:.66rem;box-shadow:0;}button:hover{cursor:pointer}body,html{font-size:18px;line-height:120%;color:#818181;background-color:#f3f3f3}span[data-icon="user"]{background-image:url("/img/user_icon.png");background-position:10px 10px;background-size:18px 18px;background-repeat:no-repeat}span[data-icon="passwd"]{background-image:url("/img/pass_icon.png");background-position:10px 10px;background-size:18px 18px;background-repeat:no-repeat}@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?at4tb5');
	src:url('fonts/icomoon.eot?#iefixat4tb5') format('embedded-opentype'),
		url('fonts/icomoon.woff?at4tb5') format('woff'),
		url('fonts/icomoon.ttf?at4tb5') format('truetype'),
		url('fonts/icomoon.svg?at4tb5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-icon="send-message"]:before {
	content: "\e604";
}
[data-icon="phone"]:before {
	content: "\f095";
}
[data-icon="search"]:before {
	content: "\e600";
}
[data-icon="messages"]:before {
	content: "\e601";
}
[data-icon="minimize"]:before {
	content: "\e602";
}
[data-icon="notification"]:before{
	content: "\e603";
}
[data-icon="maximize"]:before{
	content: "\e605";
}

[data-component="incomming-message"]{background-color:#fff;border:1px solid #e1e1e1;margin-top:5px;*zoom:1;padding:10px;width:95%;}[data-component="incomming-message"]:before,[data-component="incomming-message"]:after{content:'';display:table}[data-component="incomming-message"]:after{clear:both}[data-component="incomming-message"] .arrow-side{position:absolute;top:0;right:0;height:100%;width:30px;background-image:url("../img/arrow_gray.png");background-position:50% 50%;background-size:10px 20px;background-repeat:no-repeat}[data-component="incomming-message"]:last-child{margin-bottom:10px}[data-component="incomming-message"]:hover{cursor:pointer;}[data-component="incomming-message"]:hover .arrow-side{background-color:#e2e2e2;background-image:url("../img/arrow_white.png")}[data-component="incomming-message"]>*{display:inline-block;vertical-align:middle}[data-component="incomming-message"]> .chat-info{*zoom:1;float:left;clear:none;text-align:inherit;width:58.3333333333333%;margin-left:0%;margin-right:0%;margin-top:10px;}[data-component="incomming-message"]> .chat-info:before,[data-component="incomming-message"]> .chat-info:after{content:'';display:table}[data-component="incomming-message"]> .chat-info:after{clear:both}[data-component="incomming-message"]> .chat-info p:first-child{font-size:.88rem;color:#0083fc;overflow:hidden}[data-component="incomming-message"]> .chat-info p:last-child{font-size:.77rem;color:#818181;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}[data-component="chat-window"]{background-color:#fff;margin-top:5px;*zoom:1;float:left;clear:none;text-align:inherit;width:32.666666666666636%;margin-left:0%;margin-right:1%;float:none;display:inline-block;vertical-align:bottom;padding-bottom:10px;}[data-component="chat-window"]:before,[data-component="chat-window"]:after{content:'';display:table}[data-component="chat-window"]:after{clear:both}[data-component="chat-window"]:last-child{margin-right:0%}[data-component="chat-window"]>header{padding:.3rem;color:#fff;background-color:#536470;}[data-component="chat-window"]>header>*{display:inline-block;vertical-align:middle}[data-component="chat-window"]>header p{font-size:.7rem;padding-left:.5rem}[data-component="chat-window"]>header button{float:right;font-size:1rem;margin-top:-3px;}[data-component="chat-window"]>header button[data-action="close"]{background-color:#e4051f;color:#fff}[data-component="chat-window"]>.h-card{padding:.5rem;}[data-component="chat-window"]>.h-card>div{display:inline-block;vertical-align:top;}[data-component="chat-window"]>.h-card>div:last-child{margin-left:10px}[data-component="chat-window"]>.h-card img{width:60px;height:60px;border-radius:50%}[data-component="chat-window"]>.h-card p{font-size:.77rem;overflow:hidden;line-height:130%;}[data-component="chat-window"]>.h-card p.p-name{color:#138eea;font-size:1rem;margin-top:.5rem;margin-bottom:1rem}[data-component="chat-window"]>.h-card p span{font-size:inherit;display:inline-block;vertical-align:middle;}[data-component="chat-window"]>.h-card p span:first-child{margin-right:5px}[data-component="chat-window"]>[data-role="content-pane"]{padding:.5rem;}[data-component="chat-window"]>[data-role="content-pane"] .active{border-bottom:3px solid #eba1ce}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="tabs"]{text-align:left;border-bottom:1px solid #e8e8e8;}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="tabs"] li{display:inline-block;padding:10px;text-align:center;}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="tabs"] li a{font-size:.88rem;font-weight:lighter}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"]{height:220px;overflow-y:auto;overflow-x:hidden;padding-bottom:10px;}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"][data-status="active"]{display:block}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"][data-status="hide"]{display:none}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li{margin-top:10px;}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li .from{font-size:.88rem}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li .message{font-size:.77rem;font-weight:lighter}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li[data-user-type="consumer"] .from{color:#818181}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li[data-user-type="operator"]{padding-right:10px;}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li[data-user-type="operator"] p{text-align:right;}[data-component="chat-window"]>[data-role="content-pane"]>[data-role="pane"] li[data-user-type="operator"] p.from{color:#138eea}[data-component="chat-window"]>[data-role="send-message"]{padding-top:10px;padding-bottom:10px;border-top:1px solid #e8e8e8;*zoom:1;width:auto;max-width:95%;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;}[data-component="chat-window"]>[data-role="send-message"]:before,[data-component="chat-window"]>[data-role="send-message"]:after{content:'';display:table}[data-component="chat-window"]>[data-role="send-message"]:after{clear:both}[data-component="chat-window"]>[data-role="send-message"]>*{display:inline-block;vertical-align:middle}[data-component="chat-window"]>[data-role="send-message"] textarea{resize:none;border:1px solid #e8e8e8;font-size:.77rem;padding:.5rem;width:100%}[data-component="chat-window"]>[data-role="send-message"] button{background-color:#00bff3;border-radius:.2rem;color:#fff;margin-left:10px;font-size:.77rem}[data-component="chat-window"]>footer{*zoom:1;width:auto;max-width:95%;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;}[data-component="chat-window"]>footer:before,[data-component="chat-window"]>footer:after{content:'';display:table}[data-component="chat-window"]>footer:after{clear:both}[data-component="chat-window"]>footer button,[data-component="chat-window"]>footer p{display:inline-block;vertical-align:middle}[data-component="chat-window"]>footer button{color:#e4051f;border:1px solid #e4051f;padding:5px;font-size:.8rem;line-height:.5rem;border-radius:.2rem;}[data-component="chat-window"]>footer button:hover{background-color:#e4051f;color:#fff}[data-component="chat-window"]>footer p{font-size:.9rem;margin-left:10px;float:right}[data-component="title"]{background-color:#fff;padding:.5rem;}[data-component="title"]>*{display:inline-block;vertical-align:middle;font-size:.72rem}[data-component="title"] p{color:#138eea;}[data-component="title"] p:first-letter{text-transform:capitalize}[data-component="title"] div{display:inline-block;border-radius:50%;background-color:#138eea;text-align:center;width:20px;height:20px;line-height:0;margin-left:10px;}[data-component="title"] div p{text-align:center;color:#fff;line-height:20px}[data-component="search-bar"]{margin-right:15px;}[data-component="search-bar"]>*{display:inline-block;color:#818181;vertical-align:top}[data-component="search-bar"] input{border-radius:.5rem 0 0 .5rem;background-color:#f3f3f3;font-size:.72rem;padding-left:10px;height:30px;display:none}[data-component="search-bar"] button{background-color:#f3f3f3;border:0;border-radius:50%;font-size:1.25rem;height:30px;width:30px}[data-component="notification"]{padding-left:10px;padding-right:10px;}[data-component="notification"]>*{display:inline-block;vertical-align:top}[data-component="notification"] span{font-size:1.5rem;line-height:20px}[data-component="notification"] div{width:20px;height:20px;border-radius:50%;background-color:#138eea;line-height:0;margin-left:5px;}[data-component="notification"] div p{color:#fff;line-height:20px;text-align:center;font-size:.8rem}[data-component="user-menu"]{display:none;position:relative;background-color:#5b6f7c;padding:15px;position:absolute;top:120px;width:250px;right:15px;z-index:2;color:#fff;font-size:.8rem;border-radius:.2rem;}[data-component="user-menu"] .triangle{border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #5b6f7c;width:0;height:0;position:absolute;top:-8px;right:10px}[data-component="user-menu"]>p{font-size:.8rem;padding-bottom:10px;border-bottom:1px solid #fff}[data-component="user-menu"] input{float:right}[data-component="user-menu"] li:last-child{margin-top:30px;padding-top:15px;border-top:1px solid #d3d3d3;}[data-component="user-menu"] li:last-child a{display:block}[data-component="user-menu"] li:last-child span:last-child{width:20px;height:20px;float:right;background-image:url("../img/logout.png");background-size:20px 20px;background-position:0 0}[data-component="close-chat"]{display:none;background-color:rgba(0,0,0,0.5);position:fixed;height:100%;width:100%;z-index:4;}[data-component="close-chat"] .content{position:absolute;left:50%;margin-left:-150px;top:50%;margin-top:-75px;width:300px;height:150px;background-color:#fff;}[data-component="close-chat"] .content .close{cursor:pointer;width:25px;height:25px;position:absolute;top:0;right:0;z-index:6;}[data-component="close-chat"] .content .close>p{line-height:25px;text-align:center}[data-component="close-chat"] .content .wrap{padding:30px;display:table;text-align:center;margin:0 auto;}[data-component="close-chat"] .content .wrap>p{font-size:1.1rem;text-align:center;margin-bottom:10px;padding-bottom:15px;border-bottom:1px solid #e2e2e2}[data-component="close-chat"] .content .wrap button{font-size:1.1rem;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;display:table-cell;margin:5px;}[data-component="close-chat"] .content .wrap button.exit{background-color:#1984f3;color:#fff}[data-component="close-chat"] .content .wrap button.end{background-color:#e2e2e2;color:#5b616c}body{overflow-y:hidden;*zoom:1;}body:before,body:after{content:'';display:table}body:after{clear:both}body>header{background-color:#0183fd;height:80px;margin-bottom:20px;display:table;width:100%;padding-left:100px;padding-right:15px;min-width:1024px;}body>header>div:first-child{display:table-cell;vertical-align:middle}body>header .status{display:table;height:100%;float:right;margin-right:10px;}body>header .status>*{display:table-cell;vertical-align:middle}body>header .status .h-card{padding-left:30px;}body>header .status .h-card>*{display:inline-block}body>header .status .h-card p{font-size:.88rem;padding-right:10px;color:#fff}body>header .status .h-card .u-photo{position:relative;}body>header .status .h-card .u-photo .s{width:10px;height:10px;position:absolute;bottom:0;right:0;background-color:#6edc5f;border-radius:50%}body>header .status .h-card img{width:35px;height:35px;border-radius:50%;cursor:pointer}body>main{display:block;padding-left:15px;padding-right:15px;min-width:1024px;}body>main>[data-role="container-im"]{*zoom:1;width:auto;max-width:320px;float:none;display:block;margin-right:auto;margin-left:auto;padding-left:0;padding-right:0;*zoom:1;float:left;clear:none;text-align:inherit;width:17.6125%;margin-left:0%;margin-right:1.4%;}body>main>[data-role="container-im"]:before,body>main>[data-role="container-im"]:after{content:'';display:table}body>main>[data-role="container-im"]:after{clear:both}body>main>[data-role="container-im"]:before,body>main>[data-role="container-im"]:after{content:'';display:table}body>main>[data-role="container-im"]:after{clear:both}body>main>[data-role="container-im"]:last-child{margin-right:0%}body>main>[data-role="container-im"] ul{margin-top:5px;background-color:#fff;padding:5px;height:540px;overflow-y:scroll}body>main>[data-role="container-chat"]{*zoom:1;float:left;clear:none;text-align:inherit;width:80.6875%;margin-left:0%;margin-right:3%;}body>main>[data-role="container-chat"]:before,body>main>[data-role="container-chat"]:after{content:'';display:table}body>main>[data-role="container-chat"]:after{clear:both}body>main>[data-role="container-chat"]:last-child{margin-right:0%}body>main>[data-role="container-chat"] .chat-windows{*zoom:1;}body>main>[data-role="container-chat"] .chat-windows:before,body>main>[data-role="container-chat"] .chat-windows:after{content:'';display:table}body>main>[data-role="container-chat"] .chat-windows:after{clear:both}body>.powered{position:fixed;bottom:15px;left:15px;}body>.powered p{font-size:.7rem}#login{height:100vh;background-image:url("/img/fondo.jpg");max-width:1360px;margin:0 auto;position:relative;}#login>header{background-color:#0183fd;}#login>header img{width:75px;margin-left:45px;margin-top:16px;margin-bottom:16px}#login form{margin-top:140px;width:350px;float:right;margin-right:100px;}#login form p{color:#6b6b6b;font-size:1.5rem;margin-bottom:20px}#login form .input{background-color:#fff;width:360px;border-radius:5px;margin-top:15px;border:1px solid #ccc;box-shadow:0 2px 0 #ccc;}#login form .input input{font-size:1rem;padding:10px;height:40px;display:inline-block;width:90%}#login form .input span{width:10%;display:inline-block;height:40px}#login button{font-size:1rem;display:block;width:80%;background-color:#2280e0;color:#fff;text-align:center;margin:0 auto;margin-top:15px;padding:10px;box-shadow:0 4px 0 #1a66b3}
/*# sourceMappingURL=sourcemaps/main.css.map */

#home input[type="text"]{
    font-size :14px;
    height :60px;
}