@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?hpkt0i');
	src:url('/fonts/icomoon.eot?#iefixhpkt0i') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?hpkt0i') format('truetype'),
		url('/fonts/icomoon.woff?hpkt0i') format('woff'),
		url('/fonts/icomoon.svg?hpkt0i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sitemap:before {
	content: "\e600";
}
.icon-clock:before {
	content: "\f046";
}
.icon-credit-card:before {
	content: "\f045";
}
.icon-triangle-left:before {
	content: "\f044";
}
.icon-triangle-right:before {
	content: "\f05a";
}
.icon-home:before {
	content: "\e900";
}
.icon-office:before {
	content: "\e903";
}
.icon-credit-card2:before {
	content: "\e93f";
}
.icon-user:before {
	content: "\e971";
}
.icon-stats-bars:before {
	content: "\e99c";
}
.icon-indent-increase:before {
	content: "\ea7b";
}
