      *{
        box-sizing:border-box;
      }
      body{
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
      }
      .wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        min-width: 1200px;
      }
      header{
        background-color: #0065B5;
        padding: 20px;
        width: 100%;
        display: table;
        padding-right: 0;
        padding-left: 0;
      }
      ul{
        margin: 0;
        padding: 0;
        border-bottom: 1px solid white;
      }
      h1,nav{
        display: table-cell;
        vertical-align: middle;
      }
      h1, .text{
        width: 33%;
      }
      h1 img{
        display: block;
        margin: 0 auto;
      }
      nav,.devices{
        width: 67%;
      }
      li{
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
        color: white;
        opacity: .7;
      }
      .active{
        font-weight: bolder;
        opacity: 1;
      }
      section{
        position: absolute;
        height: 100%;
        top: 0;
        padding-top: 104px;
        width: 100%;
        display: table;
      }
      .text,.devices{
        display: table-cell;
      }
      .text{
        background-color: #F0F0F0;
        position: relative;
        height: 100%;
      }
      .text div{
        position: absolute;
        margin: 0px auto;
        top: 50%;
        display: block;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        width: 100%;
        text-align: center;
      }
      .text div img{
        max-width: 320px;
      }
      .devices{
        position: relative;
        height: 100%;
      }
      .devices .d0{
        position: relative;
        display: table;
        width: 90%;
        font-size: 0px;
        margin: 0px auto;
        top: 50%;
        transform: translateY(-50%);
      }
      .d1,.d2{
        display: table-cell;
        vertical-align: middle;
      }
      .d1{
        width: 30%
      }
      .d2{
        width: 70%;
      }