/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:75%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none;cursor: pointer;}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}
/*# sourceMappingURL=sanitize.css.map */
*{color:inherit}li{list-style-type:none}input{background-color:#fff;padding:10px;color:#a9a9a9}button{background-color:#feb81c;padding:10px;color:#363634;border-radius:5px}select{background-color:#fff;padding:10px;-webkit-border-radius:0;-moz-border-radius:0;background-image:url("http://iconsineed.com/icons/faticons/arrow-down-01-128.png");background-position:95% 50%;background-size:20px;background-repeat:no-repeat}
.line a{
	height: 20px !important;
}
.line a span{
	line-height: 20px !important;
}
body #operator-home .open > .elements .chat-open header span {
    display: block;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
}
body #operator-home .open > .elements .chat-open header p {
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
body{margin:0 auto;font-size:16px;line-height:120%;color:#363634;}body .select{font-size:.7rem;position:relative;}body .select .selected{background-image:url("http://iconsineed.com/icons/faticons/arrow-down-01-128.png");background-repeat:no-repeat;background-position:90% 50%;background-size:10px;cursor:pointer;margin-top:5px;background-color:#fff;padding:3px;border-radius:20px;border:1px solid lightGray;width:90px;padding-left: 8px;padding-top: 0;padding-bottom: 0;}body .select .wrapper{width:100%;position:absolute;display:none;background-color:#fff;margin-top:5px;border-radius:5px;border:1px solid #d3d3d3;text-align:left}body .select .wrapper .option{padding-left:5px;padding-right:5px;padding-top:5px;cursor: pointer;}body .select .wrapper .option:hover{background-color: lightgray}body #login{font-size:.8rem;background-color:#0065b5;position:absolute;width:100%;height:100%;}body #login img{max-width:50%;padding-bottom: 30px;display:block;margin:0 auto;margin-bottom:30px}body #login form{margin:0 auto;width:350px;position:relative;top:40%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}body #login form>*{margin-top:5px;margin-bottom:5px;width:100%}body #login form select{width:240px}body #login form button{width:95px;margin-left:15px}body #login form p{color:#fff;font-size:.7rem;text-align:right;margin-top:20px}body #operator-home{position:absolute;width:100%;height:100%;}body #operator-home>*{display:inline-block;vertical-align:top}body #operator-home header{height:40px}body #operator-home .operator{width:180px;position:absolute;height:100%;background-color:#f0f0f0;border-right: 1px solid lightGray;}body #operator-home .operator header{background-color:#0065b5;position:relative;width: 180px;}body #operator-home .operator header img{top:8px;height:25px;position:absolute;bottom:18px;left:0;right:0;margin:auto;}body #operator-home .operator header img:last-child{visibility:hidden;top:inherit;height:26px;left:inherit;right:15px}body #operator-home .operator .user-menu{background-color:#f0f0f0;border-bottom:1px solid #bebebe;padding:16px;padding-top: 9px;padding-bottom: 9px;}body #operator-home .operator .user-menu>*{display:inline-block;vertical-align:top;height:45px}body #operator-home .operator .user-menu .user-img img{border-radius:10%;width:45px;height:45px}body #operator-home .operator .user-menu .user-status{margin-left:10px;}body #operator-home .operator .user-menu .user-status>p{overflow:hidden;font-weight: bolder;font-size: .8rem;}body #operator-home .operator nav{background-color:#f0f0f0;}body #operator-home .operator nav .active{border-left:2px solid #0065b5;}body #operator-home .operator nav .active span{color:#383838}body #operator-home .operator nav ul:first-child{padding-top:0px}body #operator-home .operator nav ul li.title{margin-left:15px;font-size:.7rem;font-weight:bold;height:35px;line-height: 35px;}body #operator-home .operator nav ul li>a{height:37px;display:block;}body #operator-home .operator nav ul li>a span{display:inline-block;vertical-align:top;color:#b9b9b9;line-height:37px;font-size: .8rem;vertical-align: inherit;}body #operator-home .operator nav ul li>a span:first-child{margin-left:20px;margin-right:10px}body #operator-home .in-comming{width:110px;position:absolute;top:0;left:180px;height:100%;border-right: 1px solid #D3D3D3;}body #operator-home .in-comming header{background-color:#f0f0f0;height:40px;}body #operator-home .in-comming header p{line-height:40px;font-size:1rem;text-align:center}body #operator-home .in-comming ul{overflow-x:hidden;overflow-y:scroll;padding-top: 10px;}body #operator-home .in-comming ul li{height:70px;line-height:70px;}body #operator-home .in-comming ul li a{display:block;margin:0 auto;height:60px;width:60px;position:relative;}body #operator-home .in-comming ul li a img{border-radius:50%;width:48px;height:48px}body #operator-home .in-comming ul li a .counter{position:absolute;width:20px;height:20px;background-color:#0065b5;border-radius:50%;top:0px;right:10px;}body #operator-home .in-comming ul li a .counter p{color:#fff;line-height:20px;text-align:center;font-size:.8rem}body #operator-home .open{position:absolute;height:100%;left:290px;min-width:1050px;}body #operator-home .open> header{background-color:#f0f0f0;height:40px;}body #operator-home .open> header p{line-height:40px;font-size:1rem;text-align:left;padding-left:10px}body #operator-home .open>.elements{position:absolute;width:100%;height:60px;top:50px;}body #operator-home .open>.elements .chat-open{height:400px;/*float:left*/display: inline-block;position:relative;margin-right:0px;margin-left:20px;width:315px;margin-top:-360px;}body #operator-home .open>.elements .chat-open header{position:relative;height:30px;line-height:60px;background-color:#0065b5;color:#fff;}body #operator-home .open>.elements .chat-open header>*{display:inline-block;vertical-align:top;font-size: 15px}body #operator-home .open>.elements .chat-open header .user-photo{margin-left:10px;margin-right:10px;}body #operator-home .open>.elements .chat-open header .user-photo img{border-radius:50%;height:48px;width:48px}body #operator-home .open>.elements .chat-open header .window-actions{float:right;margin-right:10px;line-height: 30px;height: 30px}body #operator-home .open>.elements .chat-open header .window-actions a{margin-left:15px;display: inline-block;vertical-align: top;line-height: 30px;}body #operator-home .open>.elements .chat-open .messages{overflow-y:scroll;overflow-x:hidden; height:250px;background-color:#f0f0f0;}body #operator-home .open>.elements .chat-open .messages ul{padding-top:10px;padding-bottom:10px;}body #operator-home .open>.elements .chat-open .messages ul li{border-radius:10px;padding:3px;padding-left: 8px;}body #operator-home .open>.elements .chat-open .messages ul li.sender,body #operator-home .open>.elements .chat-open .messages ul li.SENDER{margin-left:15px;margin-right:auto;border:1px solid #a9a9a9}body #operator-home .open>.elements .chat-open .messages ul li{position:relative;margin-right:15px;margin-left:auto;text-align: right;padding-right: 10px}body #operator-home .open>.elements .chat-open .messages ul li p{word-break:normal;background-color:inherit;font-size:12px;color:#A0A0A0;overflow:hidden;}body #operator-home .open>.elements .chat-open .send{box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);background-color:#f0f0f0;height:100px;padding-top: 10px;}body #operator-home .open>.elements .chat-open .send form textarea{width:95%;background-color:#fff;margin:0 auto;border-radius:8px;height:50px;display:block;font-size:.8rem;padding:10px;resize:none}body #operator-home .open>.elements .chat-open .send form fieldset{width:95%;margin:0 auto;border:0;outline-nonepadding:10px;height:40px;line-height:40px;}body #operator-home .open>.elements .chat-open .send form fieldset>*{display:inline-block;vertical-align:middle}body #operator-home .open>.elements .chat-open .send form fieldset input[type="file"]{display:none;width:0;height:0}body #operator-home .open>.elements .chat-open .send form fieldset p{font-size:.7rem;text-align:right;float:right;margin-right:15px} .chat-min{float:left;display:none;margin-left:5px;margin-right: 5px;margin-top: 30px;} .chat-min a{display:block;margin:0 auto;height:48px;width:48px;position:relative;margin-top: -20px;} .chat-min a img{border-radius:50%;width:48px;height:48px} .chat-min a .counter{position:absolute;width:20px;height:20px;background-color:#0065b5;border-radius:50%;top:-5px;right:0;} .chat-min a .counter p{color:#fff;line-height:20px;text-align:center;font-size:.8rem}
/*# sourceMappingURL=sourcemaps/main.css.map */
body #operator-home .open > .elements .chat-open header section{margin-top:-20px;padding-top: 10px;background-color: #0065B5;height: 60px;width:100%}
body #operator-home .open > .elements .chat-open header section p{padding-left:15px;height: 25px;line-height: 25px}
[data-component="close-chat"]{display:none;background-color:rgba(0,0,0,0.5);position:fixed;height:100%;width:100%;z-index:4;}[data-component="close-chat"] .content{position:absolute;left:50%;margin-left:-150px;top:50%;margin-top:-75px;width:300px;height:150px;background-color:#fff;}[data-component="close-chat"] .content .close{cursor:pointer;width:25px;height:25px;position:absolute;top:0;right:0;z-index:6;}[data-component="close-chat"] .content .close>p{line-height:25px;text-align:center}[data-component="close-chat"] .content .wrap{padding:30px;display:table;text-align:center;margin:0 auto;}[data-component="close-chat"] .content .wrap>p{font-size:1.1rem;text-align:center;margin-bottom:10px;padding-bottom:15px;border-bottom:1px solid #e2e2e2}[data-component="close-chat"] .content .wrap button{font-size:1.1rem;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;display:table-cell;margin:5px;}[data-component="close-chat"] .content .wrap button.exit{background-color:#1984f3;color:#fff}[data-component="close-chat"] .content .wrap button.end{background-color:#e2e2e2;color:#5b616c}



/*animaciones*/
.animated {
animation-duration: 1s;
animation-fill-mode: both;
}
.animated.infinite {
animation-iteration-count: infinite;
}
.animated.hinge {
animation-duration: 2s;
}
.animated.bounceIn,
.animated.bounceOut {
animation-duration: .75s;
}
.animated.flipOutX,
.animated.flipOutY {
animation-duration: .75s;
}


@keyframes bounce {
0%, 20%, 53%, 80%, 100% {
animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transform: translate3d(0,0,0);
}
40%, 43% {
animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
transform: translate3d(0, -30px, 0);
}
70% {
animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
transform: translate3d(0, -15px, 0);
}
90% {
transform: translate3d(0,-4px,0);
}
}
.bounce {
animation-name: bounce;
transform-origin: center bottom;
}
.minificados{
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 60px;
}
body #operator-home header{
	border-bottom: 1px solid #D3D3D3;
}
body #operator-home .open > .elements .chat-open .messages ul li.reciber p{
    color: #B8B8B8;
    display: inline-block;
    overflow-x: hidden;
    max-width: 200px;
    height: 100%;
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: -10px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    text-align: left;
}

/*CAMbIOS EN LOS CHATS*/
.nuevoSender {
    background-color: transparent !important;
    position :relative;
}
.nuevoSender .user-photo > * {
    display: inline-block;
    vertical-align: top;
}
.nuevoSender .user-photo img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.nuevoSender .user-photo p {
    background-color: #E6EFFE !important;
    padding: 3px;
    border-radius: 8px;
    color: #ADB3C3 !important;
    border: 1px solid #ADB3C3 !important;
    margin-left: 10px;
}
.nuevoSender .triangle{
	border:0;
	position: absolute;
	top: 5px;
	//transform:translateY(-50%);
	left: 2px;
	background-color: transparent;
	background-image: url("/img/glob2.png");
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 11px;
	height: 13px;
}
.reciber .triangle{
	border:0;
	position: absolute;
	top: 11px;
	//transform:translateY(-50%);
	right: -8px;
	background-color: transparent;
	background-image: url("/img/glob1.png");
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 11px;
	height: 13px;
}
.requiem{
	position: absolute;
}
.dropdown {
    position: absolute !important;
    /*bottom: -50px !important;*/
    top:30px;
    width: 100%;
    left: 0 !important;
    background-color: white;
    z-index: 4;
    color: black !important;
    padding: 10px !important;
}
.dropdown span:first-child{
	margin-bottom:  10px !important
}
.user-name{
	cursor: pointer;
	line-height: 30px;
	height: 30px;
	margin-left: 10px;
}
.icono{
	display: inline-block;
	margin-left: 10px;
	background-color: green;
	border: 3px solid green;
}
.dropdown>p{
	display: block !important ;
}
.dropdown>p > *{
	display: inline-block !important;
	vertical-align:  middle;
}
.dropdown img{
	margin-right: 10px;
}
.user-photo {
    position: relative;
    text-align: left;
}
