[data-component="title"]
  background-color white
  padding .5rem
  &>*
    display inline-block
    vertical-align middle
    font-size .72rem
  p
    color $colorBlue
    &:first-letter
      text-transform capitalize
  div
    display inline-block
    border-radius 50%
    background-color $colorBlue
    text-align center
    width 20px
    height 20px
    line-height 0
    margin-left 10px
    p
      text-align center
      color white
      line-height 20px
