div(data-component="chat-window")
  header
    p(data-role="ticket-code") Ticket 000001
    button.action(data-action="minimize",data-icon="minimize")
    //button(data-action="close") Finalizar
  .h-card
    div
      p.p-name Brian Castillo
      p
        span(data-icon="phone")
        span.p-tel 940610789
      p
        span(data-icon="messages")
        span.u-email bcastillo@gmail.com
  div(data-role="content-pane")
    ul(data-role="tabs")
      li.active
        a(href="#chat") Chat
    #chat(data-role="pane",data-status="active")
      ol
        li(data-user-type="consumer")
          p.from Brian Castillo
          p.message Hola
        li(data-user-type="operator")
          p.from Brian Castillo
          p.message Hola
  form(data-role="send-message",action=".",method="POST")
    textarea(placeholder="mensaje")
  footer
    button(type="button",data-action="finalizar") Finalizar chat
    p Pulsa "Enter" para enviar.