[data-component="chat-window"]
  background-color white
  margin-top 5px
  column(4/12,gutter:1)
  float none
  display inline-block
  vertical-align bottom
  padding-bottom 10px
  //height 600px
  &>header
    //border-bottom 1px solid $colorLight
    padding .3rem
    color white
    background-color #536470
    &>*
      display inline-block
      vertical-align middle
    p
      font-size .7rem
      padding-left .5rem
    button
      float right
      font-size 1rem
      margin-top -3px
      &[data-action="close"]
        background-color $colorAlert
        color white
  &>.h-card
    padding .5rem
    &>div
      display inline-block
      vertical-align top
      &:last-child
        margin-left 10px
    img
      width 60px
      height 60px
      border-radius 50%
    p
      font-size .77rem
      overflow hidden
      line-height 130%
      &.p-name
        color $colorBlue
        font-size 1rem
        margin-top .5rem
        margin-bottom 1rem;
      & span
        font-size inherit
        display inline-block
        vertical-align middle
        &:first-child
          margin-right 5px
  &>[data-role="content-pane"]
    padding .5rem
    .active
      border-bottom 3px solid $colorPink
    &>[data-role="tabs"]
      text-align left
      border-bottom 1px solid $colorLight
      li
        display inline-block
        padding 10px
        text-align center
        a
          font-size .88rem
          font-weight lighter
    &>[data-role="pane"]
      height 220px
      overflow-y auto
      overflow-x hidden
      padding-bottom 10px
      &[data-status="active"]
        display block
      &[data-status="hide"]
        display none
      li
        margin-top 10px
        .from
          font-size .88rem
        .message
          font-size .77rem
          font-weight lighter
        &[data-user-type="consumer"]
          .from
            color $colorLightGray
        &[data-user-type="operator"]
          padding-right 10px
          p
            text-align right
            &.from
              color $colorBlue
  &>[data-role="send-message"]
    padding-top 10px
    padding-bottom 10px
    border-top 1px solid $colorLight
    center(95%)
    &>*
      display inline-block
      vertical-align middle
    textarea
      resize none
      border 1px solid $colorLight
      font-size .77rem
      padding .5rem
      width 100%
    button
      background-color #00BFF3
      border-radius .2rem
      color white
      margin-left 10px
      font-size .77rem
  &>footer
    center(95%)
    button,p
      display inline-block
      vertical-align middle
    button
      color #e4051f
      border 1px solid #e4051f
      padding 5px
      font-size .8rem
      line-height .5rem
      border-radius .2rem
      &:hover
        background-color #e4051f
        color white
    p
      font-size .9rem
      margin-left 10px
      float right
