doctype html
html(class="no-js",lang="es")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="description",content="")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		link(href="/css/icomoon.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(rel="icon",type="image/png",href="/img/minilogo_diloo.png")
		title diloo
	body
		block content
		script(src="/js/vendor/sails.io.js")
		script(src="/js/vendor/jquery.js")
		script(src="/js/main.js")    
