doctype html
html(class="no-js",lang="es")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="description",content="")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300',rel='stylesheet',type='text/css')
		link(href="/css/icomoon.css" rel="stylesheet")
		link(href="/css/new_main.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(rel="icon",type="image/png",href="/img/minilogo_diloo.png")
		title diloo
	body(ng-app="diloo")
		block content
		script(src="/js/angular.min.js")
		script(src="/js/sails.io.js")
		script(src="/js/angular-sails.min.js")
		//script(src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js")
		script(src="/js/jquery.min.js")
		script(src="/js/new_main.js")
