[data-component="incomming-message"]
  background-color white
  border 1px solid #E1E1E1
  margin-top 5px
  cf()
  padding 10px
  width 95%
  .arrow-side
    position absolute
    top 0
    right 0
    height 100%
    width 30px
    background-image url('../img/arrow_gray.png')
    background-position 50% 50%
    background-size 10px 20px
    background-repeat no-repeat
  &:last-child
    margin-bottom 10px
  &:hover
    cursor pointer
    .arrow-side
      background-color #e2e2e2
      background-image url('../img/arrow_white.png')
  &>*
    display inline-block
    vertical-align middle
  &> .chat-info
    span(7/12)
    margin-top 10px
    p:first-child
      font-size .88rem
      color #0083fc
      overflow hidden
    p:last-child
      font-size .77rem
      color $colorLightGray
      text-overflow ellipsis
      white-space nowrap
      overflow hidden